<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/css.ejs') %>
  <title>Birthday Details</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <section id="container-two">
      <section class='details'>
          <img src="<%= birthday.nasa_url %>" alt="<%= birthday.nasa_name %>">
        <span id="second-span">
          <h3><%= birthday.nasa_name %></h3>
        </span>
        <h4><%= 'Hello ' + user.name + '!' %>
          <br><br>
          <%= birthday.fact_text %></h4>
      </section>
      <section>
        <article id='planet-age'>
          <% if(planet==='EARTH\'S MOON'){ %>
           <img src="https://i.ibb.co/6Z9sKmt/uranus-2.png" alt="moon">
          <h4>Your age on the Earth's Moon : <br> <%=age%> years</h4>
          <% }else if(planet==='PLUTO'){ %>
          <%  let age2 = age/248; %>
            <img src="https://i.ibb.co/6Z9sKmt/uranus-2.png" alt="pluto">
          <% if (age2 < 1){ %>
          <h4>Your age on Pluto : <br> less than 1 year ! </h4>
          <% } else{ %>
          <h4>Your age on Pluto : <br> <%= Math.round(age2) %> years</h4>
          <% } %>
          <% } else if(planet==='MARS'){ %>
          <%  let age2 = age/1.8219; %>
            <img src="https://i.ibb.co/6Z9sKmt/uranus-2.png" alt="mars">
          <h4>Your age on Mars : <br> <%= Math.round(age2) %> years </h4>
          <%} else if(planet==='VENUS'){ %>
          <%  let age2 = age/0.616438; %>
            <img src="https://i.ibb.co/6Z9sKmt/uranus-2.png" alt="venus">
          <h4>Your age on Venus : <br> <%= Math.round(age2) %> years </h4>
          <% } %>
        </article>
      </section>
    </section>
  </main>
   
  <%- include('../partials/footer.ejs') %>
</body>
</html>