<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/css.ejs') %>
  <title>Birthday Details</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'></div>
  <main>
    <section id="container-two">
      <section class='details'>
          <img src="<%= birthday.nasa_url %>" alt="<%= birthday.nasa_name %>">
        <span id="second-span">
          <h3><%= birthday.nasa_name %></h3>
        </span>
        <h2><%= 'Hello ' + user.name + '!' %></h2>
        <br>
        <h4><%= birthday.fact_text %></h4>
      </section>
      <section>
        <article id='planet-age'>
          <% if(planet==='EARTH\'S MOON'){ %>
           <img src="https://www.flaticon.com/svg/static/icons/svg/788/788268.svg" alt="">
          <h4>Your age on the Earth's Moon : <br> <%=age%> years</h4>
          <% }else if(planet==='PLUTO'){ %>
          <%  let age2 = age/248; %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/788/788268.svg" alt="pluto">
          <% if (age2 < 1){ %>
          <h4>Your age on Pluto : <br> less than 1 year ! </h4>
          <% } else{ %>
          <h4>Your age on Pluto : <br> <%= Math.round(age2) %> years</h4>
          <% } %>
          <% } else if(planet==='MARS'){ %>
          <%  let age2 = age/1.8219; %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/788/788268.svg" alt="mars">
          <h4>Your age on Mars : <br> <%= Math.round(age2) %> years </h4>
          <%} else if(planet==='VENUS'){ %>
          <%  let age2 = age/0.616438; %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/788/788268.svg" alt="venus">
          <h4>Your age on Venus : <br> <%= Math.round(age2) %> years </h4>
          <% } %>
        </article>
      </section>
    </section>
    
    <section>
      <form id='auto_submit' name='autoSubmit' action="/save" method="post">
        <input type="hidden" name='user_name' value="<%= user.name %>">
        <input type="hidden" name='user_password' value="<%= user.pass %>">

        <input type="hidden" name="day" value="<%= birthday.birth_day %>">
        <input type="hidden" name="month" value="<%= birthday.birth_month %>">
        <input type="hidden" name="year" value="<%= birthday.birth_year %>">
        <input type="hidden" name="title" value="<%= birthday.nasa_name %>">
        <input type="hidden" name="hdurl" value="<%= birthday.nasa_url %>">
        <input type="hidden" name="fact_year" value="<%= birthday.fact_year %>">
        <input type="hidden" name="text" value="<%= birthday.fact_text %>">
      </form>
    </section>
  </main>
  <%- include('../partials/footer.ejs') %>
  <script>
    function autoSubmit() {
      const form = document.getElementById('auto_submit');
      form.submit();
      console.log('from submit')
    }
    autoSubmit();
  </script>
  <script src="../../server.js"></script>

</body>
</html>