<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/css.ejs') %>
  <title>Details</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  
  <main>
    <section id="container-two">
      <section class='details'>
        <img src="<%=data.nasa_url%>" alt="">
        <span id="second-span">
          <h3><%=data.nasa_name%></h3>
        </span>
        <h2><%=data.birth_day +'/'+ data.birth_month+'/'+data.birth_year%></h2>
        <br>
        <section id="factline" class="blockquote">
          <h4 id="fact">"<%=data.fact_text%>"</h4>
        </section><br><br><br>
      </section>
    </section>
    
    <section id='sign-in'>
      <form id='update-delete' action="/selection/<%= data.id %>?_method=put" method="post">
        <input type="text" placeholder="Username" name='user_name' class='dob' required>
        <input type="password" placeholder="Password" name='user_password' class='dob' required>
        <label for="nasa_name" class='dob-label'>Enter your name to rename the image:</label>
        <input type="text" name="nasa_name" value="<%=data.nasa_name%>">
        <input type="submit" name='update' value="Update" id='update-submit' class='dob'>
        <input type="submit" name='delete' value="Delete" formaction="/selection/<%= data.id %>?_method=DELETE" id='delete-submit' class='dob'>
      </form>
    </section>
  </main> 
  <%- include('../partials/footer.ejs') %>
</body>
</html>